body {
  /* background: #c8c6c4; */
  background: #ff0000;
}

.App {
  font-family: sans-serif;
  padding: 200px 200px;
}

.App > div {
  background-color: #5c2e91;
  background-color: #fff;
  color: #fff;
  color: #3498db;
  text-align: center;
}
